<!DOCTYPE html>
<html ng-app>
  <head>
    <title>AngularJS/flightaware.js example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
  </head>
  <body>
    <section class="container">
      <h2>FlightAware 2.0 Arrival API</h2>
      <div ng-controller="FlightAwareController"> 
        <label>Airport</label>
        <input type="text" ng-model="destination" placeholder="e.g. KBOI"/>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Arrival</th> <th>Flight</th> <th>Origin</th> <th>Destination</th> <th>Departure</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="arrival in arrivals.arrivals | orderBy:'-actualarrivaltime'">
              <td valign='top'>
                {{arrival.actualarrivaltime*1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}
              </td>
              <td valign='top'>
                {{arrival.ident}}<br/>
                <small>{{arrival.origin}} &#8594; {{arrival.destination}}</small>
              </td>
              <td valign='top'>
                {{arrival.originName}}<br/>
                <small>{{arrival.originCity}}</small>
              </td>
              <td valign='top'>
                {{arrival.destinationName}}<br/>
                <small>{{arrival.destinationCity}}</small>
              </td>
              <td valign='top'>
                {{arrival.actualdeparturetime*1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <script type="text/javascript">
      FlightAwareController = function($scope, $http) {

        // Setup page defaults ...
        $scope.destination = 'SFO';
        $scope.arrivals = {};

        // Create a function to call FlightAware 2.0 API "Arrived" ...
        $scope.Arrived = function() {
          $http.get('/api/Arrived/' + $scope.destination)
          .success(function (data) {
            $scope.arrivals = data;
          })
          .error(function (error) {
            $scope.arrivals = 'Error retrieving route details: ' + error;
          });
        };

        // Call the Arrived() API and post the results to $scope.arrivals ...
        $scope.Arrived();

        // When the user updates the destination, reload the arrival information ...
        $scope.$watch('destination', function(newValue, oldValue) {
            if($scope.destination.length >= 3) {
                $scope.Arrived();
            }
        });

      };
    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  </body>
</html>
